ul {
    margin: 0;
    padding: 0;
}

li {
    padding-left: 0pt;
    margin-left: 36pt;
    line-height: 1.5em;
}

@font-face {
    font-family: "fontello";
    src: url("fontello.woff") format('woff');
}

.fontello { 
    padding: 3px;
    padding-left: 10px;
    font-style: normal;
    font-family: "fontello";
}

.bold { font-weight: bold; }

p { margin: 0pt; }
p.space { height: 11pt; }

#emailat:before { content: " "; }
#emaildot:before { content: " "; }

.gr { color: #D50F25; }
.gg { color: #009925; }
.gb { color: #3369E8; }
.gy { color: #EEB211; }

.clear { clear: both; }

.item ul {
    margin-top: 5px;
}

.company {
    float:left;
    font-weight: bold;
}

.location {
    float:right;
    color: #777; 
    font-size: 0.9em;
    font-style: italic;
}

.position {
    float:left;
}

.date {
    float:right;
    color: #777; 
    font-size: 0.9em;
    font-style: italic;
}

.header { 
    font-size: 1.3em;
    text-decoration: none;
    color:#555;
    font-weight: 100;
}

div#name { display:none; }