@font-face {
    font-family: 'fontello';
    src: url('fontello.woff') format('woff');
}

.fontello { 
    padding: 3px;
    padding-left: 10px;
    font-style: normal;
    font-family: 'fontello';
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding-left: 0pt;
    margin-left: 36pt;
    line-height: 1.5em;
}

.bold { font-weight: bold; }

p { margin: 0pt; }
p.space { height: 11pt; }

#emailat:before { content: ' '; }
#emaildot:before { content: ' '; }

.gr { color: #D50F25; }
.gg { color: #009925; }
.gb { color: #3369E8; }
.gy { color: #EEB211; }


.clear { clear: both; }

.item ul {
    margin-top: 5px;
}

.job {
    font-size: 0.8em;
    line-height: 1.5em;
    display: block;
}

.spacer { 
    width: 100%;
    height: 100px;
    float: left;
}

.infocolumn {
    float: left;
    display:inline;
    width:33%;
    padding-bottom:30px;
}

.col33 { width: 33%; }
.col66 { width: 66%; }

.company {
    font-weight: bold;
}

.location {
    float:right;
    color: #777; 
    font-size: 0.9em;
    font-style: italic;
}

.point {
    display: block;
}

.position {
    float: left;
    font-weight: bold;
    margin-right: 8px
}

.date {
    float: left;
    color: #777; 
    font-style: italic;
}

.header { 
    font-size: 1.3em;
    text-decoration: none;
    color: #555;
    font-weight: 100;
}

.name {
    float: right;
}

#name .name {
    width: 100%;
    padding-top: 50px;
    font-size: 3em;
    float: left;
    text-align: right;
    font-family: 'basic title font', 'Lato', 'Roboto', sans-serif;
}

div#name { display:none; }
