a {
  color: #000000;
  text-decoration: none;
}

.header { 
  font-size: 1.3em;
  text-decoration: none;
  color: #555;
  font-weight: 100;
  margin-bottom: 10px;
}

.job {
  font-size: 0.9em;
  line-height: 1.5em;
}

.fixed {
  width: 75px;
  display: inline-block;
}

.inforow {
  display: flex;
}

.infocolumn {
  display: inline-block;
  vertical-align: text-top;
  padding-bottom: 60px;
}

.col33 { flex: 1; }
.col66 { flex: 2; }

.point {
  display: block;
  font-weight: normal;
}

.position {
  font-weight: 500;
  margin-right: 8px;
}

.date {
  color: #777; 
  font-style: italic;
}

/* Phone */
@media screen and (max-width: 600px) {
  .inforow {
    display: block;
  }

  .infocolumn {
    width: 100%;
  }

  .header, .center-when-small {
    text-align: center !important;
  }
}

/* Tablet + Desktop */
@media screen and (min-width: 601px) {

}
